.city {
  position: absolute;
  bottom: 0.5rem;
  height: 20rem;
  background: red;
  max-width: 50rem;
  width: 100%;
  left: 50%;
  margin: 0 auto 0 -25rem;
  background: url(/assets/img/bridge.svg) center bottom no-repeat;
  background-size: 100% auto;
}

.city:before {
  content: "";
  position: absolute;
  background: url(/assets/img/city-2.svg) repeat-x right bottom;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 500%;
}

.city:after {
  content: "";
  left: 100%;
  position: absolute;
  background: url(/assets/img/city-1.svg) repeat-x left bottom;
  top: 0;
  bottom: 0;
  right: 0;
  width: 500%;
}
